config/alacritty/alacritty.yml
config/urxvt/config
config/cef_user_data
config/chromium
config/configstore
config/darktable
config/dconf
config/discord
config/dunst/dunstrc
config/Electron
config/enchant
config/GIMP
config/gtk-2.0/gtkfilechooser.ini
config/gtk-3.0/gtk.css
config/i3/config
config/inkscape
config/insight-nodejs/insight-yo.json
config/kernel.org
config/less/lesskey
config/mimeapps.list
config/mpd/bakoga.conf
config/mpv/watch_later
config/neofetch
config/obs-studio
config/pavucontrol.ini
config/pulse/*.tdb
config/pulse/*-default-*
config/pulse/cookie
config/polybar/config
config/QtProject.conf
config/transmission-remote-gtk
config/VirtualBox
config/vivaldi
config/vlc
config/zathura/zathurarc

cache
share
runtime

settings.sh
