[submodule "third-party/zsh/zsh-autosuggestions"]
	path = third-party/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "third-party/zsh/zsh-syntax-highlighting"]
	path = third-party/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "third-party/zsh/alias-tips"]
	path = third-party/zsh/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "third-party/vim-plug"]
	path = third-party/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "third-party/eww"]
	path = third-party/eww
	url = https://github.com/elkowar/eww.git
