[submodule "third-party/zsh/zsh-autosuggestions"]
	path = third-party/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "third-party/zsh/fast-syntax-highlighting"]
	path = third-party/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "third-party/zsh/alias-tips"]
	path = third-party/zsh/alias-tips
	url = https://github.com/djui/alias-tips
[submodule "third-party/nvm"]
	path = third-party/nvm
	url = https://github.com/creationix/nvm
[submodule "third-party/vim-plug"]
	path = third-party/vim-plug
	url = https://github.com/junegunn/vim-plug
[submodule "third-party/pyenv"]
	path = third-party/pyenv
	url = https://github.com/pyenv/pyenv
