[submodule "third-party/zsh/zsh-autosuggestions"]
	path = third-party/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "third-party/zsh/fast-syntax-highlighting"]
	path = third-party/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
