bin/exa
bin/fzf
bin/fd
bin/xclip

config/JetBrains
config/Jitsi Meet
config/Android Open Source Project
config/Google
config/android
config/sublime-text
config/tint2
config/java
config/3T
config/Arena_x86_64_linux
config/Code
config/Code - OSS
config/DataGrip
config/Electron
config/Element
config/Foxit Software
config/GIMP
config/Microsoft
config/Postman
config/QtProject.conf
config/VirtualBox
config/alacritty/alacritty.yml
config/cef_user_data
config/chromium
config/coc
config/configstore
config/darktable
config/dconf
config/deluge
config/discord
config/dleyna-renderer-service.conf
config/dunst/dunstrc
config/enchant
config/evolution
config/fmit
config/gtk-2.0/gtkfilechooser.ini
config/gtk-3.0/bookmarks
config/gtk-3.0/gtk.css
config/i3/config
config/inkscape
config/insight-nodejs/insight-yo.json
config/jupyter
config/kernel.org
config/less/lesskey
config/libreoffice
config/mimeapps.list
config/mpd/bakoga.conf
config/mpv/watch_later
config/neofetch
config/obs-studio
config/okular_fictionbook_generator_settings
config/okularpartrc
config/okularrc
config/pavucontrol.ini
config/pikaur.conf
config/pipewire
config/polybar/config
config/pulse/*-default-*
config/pulse/*.tdb
config/pulse/cookie
config/qBittorrent
config/remmina
config/skypeforlinux
config/sublime-text-3
config/systemd
config/teams
config/transmission
config/transmission-remote-gtk
config/urxvt/config
config/vivaldi
config/vlc
config/yandex-browser-beta
config/zathura/zathurarc
config/zsh/.zcompdump

cache
share
runtime

local.sh
settings.sh
startup.local
