bin/dmenu
bin/st

config/discord
config/neofetch
config/pavucontrol.ini
config/pulse
config/vivaldi

cache
share
runtime

settings.sh

services/runit/*/supervise

third-party/dmenu/dmenu
third-party/dmenu/stest
third-party/dmenu/config.h
third-party/dmenu/*.o

third-party/st/st
third-party/st/config.h
third-party/st/*.o
