* {
  background: none;
  color: #BDD9F2;  /* fg */
  border: none;
  outline: none;
  box-shadow: none;
  font: Noto Sans Mono Light;
  font-size: 24px;
}

#window {
  background: rgba(29, 36, 51, 0.75);  /* bg with opacity */
}

#input {
  padding: 24px;
}

#input * {
  color: transparent;
}

#outer-box {
  margin: 24px;
}

#inner-box {
  margin-left: 48px;
}

#entry {
  padding: 8px;
}

#entry:selected * {
  color: #9BB8F2; /* blue */
}
