[Unit]
Description=Check available disk space every 10 minutes

[Timer]
OnActiveSec=10min
OnUnitActiveSec=10min
AccuracySec=5min

[Install]
WantedBy=timers.target
