[Unit]
Description=Check connectivity and public IP status every minute
ConditionACPower=true

[Timer]
OnActiveSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
