[Unit]
Description=Show a random Thai word every 4 daytime hours
ConditionACPower=true

[Timer]
OnCalendar=*-*-* 10,14,18,22:00:00 Asia/Bangkok
AccuracySec=10min

[Install]
WantedBy=timers.target
