[Unit]
Description=Reminder daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Environment=TZ=Asia/Bangkok
ExecStart=/usr/bin/remind -v -r -z5 "-k:/usr/bin/bash %h/dotfiles/scripts/notify-remind.sh %%s" %h/.reminders
Restart=on-failure
