[Unit]
Description=Check for failed systemd units
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/sh "${repo}/scripts/systemd-status.sh"
