[Unit]
Description=Check for failed systemd units every 10 minutes

[Timer]
OnActiveSec=10min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
