#waybar {
  background: #${bg};
  color: #${fg};
  font-family: "Noto Sans Mono Light";
  font-size: 14px;
}

/* padding */

#workspaces,
#backlight,
#battery,
#pulseaudio,
#language,
#clock {
  padding: 6px 10px;
}
#workspaces {
  padding-left: 16px;
}

#clock {
  padding-right: 20px;
}

/* workspaces */

#workspaces button {
  font-size: 16px;
  padding: 0 4px;
  color: #${fg_dim};
  border: none;
  border-radius: 0;
}

#workspaces button.active, #workspaces button.focused {
  color: #${blue};
  border-top: 2px solid #${bg};
  border-bottom: 2px solid #${blue};
}

#workspaces button.urgent {
  color: #${red};
  border-top: 2px solid #${bg};
  border-bottom: 2px solid #${red};
}

#workspaces button:hover {
  background: none;
  color: #${purple};
}

/* battery */

#battery.critical {
  color: #${red};
}

#battery.warning {
  color: #${orange};
}

#battery.low {
  color: #${yellow};
}
