#waybar {
  background: #${bg};
  color: #${fg};
  font-family: "NotoSansM NFM Light";
  font-size: @scale(13.3)px;  /* SCALE: 13.3 */
}

/* workspaces */

#workspaces {
  font-size: @scale(14.5)px;  /* SCALE: 14.5 */
}

#workspaces button.empty:not(.active) {
  opacity: 0;
  font-size: 0;

  /* HACK: making empty workspace buttons not taking any space */
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
}

#workspaces button {
  color: #${fg_dim};

  border: none;
  border-radius: 0;

  padding-top: 8px;
  padding-bottom: 8px;
}

#workspaces button.active, #workspaces button.focused {
  color: #${blue};
  border-bottom: @scale(2)px solid #${blue};  /* SCALE: 2 */
}

#workspaces button.urgent {
  color: #${red};
  border-bottom: @scale(2)px solid #${red};  /* SCALE: 2 */
}

/* battery */

#battery.critical {
  color: #${red};
}

#battery.warning {
  color: #${orange};
}

#battery.low {
  color: #${yellow};
}

#battery.charging {
  color: #${green};
}

/* Privacy */
#privacy-item {
  color: #${red};
}

/* Language */
#language.ru {
  color: #${red};
}

#language.th {
  color: #${purple};
}

/* hover */

#clock:hover, #pulseaudio:hover, #language:hover {
  color: #${purple};
}

#workspaces button:hover {
  background: none;
  color: #${purple};
  border-color: #${purple};
}
