#waybar {
  /* VAR: bg
  */ background: #{bg};
  /* VAR: fg
  */ color: #{fg};
  font-family: "NotoSansM NFM Light";
  /* SCALE: 13.3
  */ font-size: {13.3}px;
}

/* workspaces */

#workspaces {
  /* SCALE: 14.5
  */ font-size: {14.5}px;
}

#workspaces button.empty:not(.active) {
  opacity: 0;
  font-size: 0;

  /* HACK: making empty workspace buttons not taking any space */
  margin-left: -10px;
  margin-right: -10px;
  padding: 0;
}

#workspaces button {
  /* VAR: fg_dim
  */ color: #{fg_dim};

  border: none;
  border-radius: 0;

  padding-top: 8px;
  padding-bottom: 8px;
}

#workspaces button.active, #workspaces button.focused {
  /* VAR: blue
  */ color: #{blue};
  /* SCALE: 2
     VAR: blue
  */ border-bottom: {2}px solid #{blue};
}

#workspaces button.urgent {
  /* VAR: red
  */ color: #{red};
  /* SCALE: 2
     VAR: red
  */ border-bottom: {2}px solid #{red};
}

/* battery */

#battery.critical {
  /* VAR: red
  */ color: #{red};
}

#battery.warning {
  /* VAR: orange
  */ color: #{orange};
}

#battery.low {
  /* VAR: yellow
  */ color: #{yellow};
}

#battery.charging {
  /* VAR: green
  */ color: #{green};
}

/* Privacy */
#privacy-item {
  /* VAR: red
  */ color: #{red};
}

/* Language */
#language.ru {
  /* VAR: red
  */ color: #{red};
}

#language.th {
  /* VAR: purple
  */ color: #{purple};
}

/* hover */

#clock:hover, #pulseaudio:hover, #language:hover {
  /* VAR: purple
  */ color: #{purple};
}

#workspaces button:hover {
  background: none;
  /* VAR: purple
  */ color: #{purple};
  /* VAR: purple
  */ border-color: #{purple};
}
