// vim: set ts=2 sw=2:

environment {
  ELECTRON_OZONE_PLATFORM_HINT "wayland"

  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "qt5ct"  // hide telegram title bar
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

  GDK_DPI_SCALE "1.5"
  QT_SCALE_FACTOR "1.5"
  STEAM_FORCE_DESKTOPUI_SCALING "1.5"
}

cursor {
  xcursor-theme "capitaine-cursors-light"
  xcursor-size @scale(24) // SCALE: 24

  hide-when-typing
  hide-after-inactive-ms 3000
}

overview {
  zoom 0.45
  backdrop-color "#${bg_dim_more}"
}

input {
  disable-power-key-handling
  focus-follows-mouse max-scroll-amount="25%"
  workspace-auto-back-and-forth // for tab workspace
  warp-mouse-to-focus mode="center-xy"

  mod-key "Super"

  keyboard {
    xkb {
      layout "us,ru,th"
      options "grp:caps_toggle12,grp_led:caps,compose:ralt"
    }

    repeat-delay 300
    repeat-rate 15
    track-layout "window"
  }

  touchpad {
    tap
    drag true
    natural-scroll
    scroll-factor 0.15
  }

  // TODO: trackpoint
}

output "${output_name}" {
  mode "${output_mode}"
  scale 1  // NOTE: this is intentional to keep everything sharp
           //       actual scaling is done via env vars and configuration
  variable-refresh-rate
}

binds {
  // Spawn
  Super+J repeat=false hotkey-overlay-title="Terminal" { spawn "footclient"; }
  Super+B repeat=false hotkey-overlay-title="Browser" { spawn "google-chrome-unstable"; }
  Super+R repeat=false hotkey-overlay-title="App Runner" { spawn "fuzzel"; }

  // Special foot client blocked from screencast
  Super+Shift+J repeat=false { spawn "footclient" "--app-id" "footprivate"; }

  // Window control
  Super+X repeat=false hotkey-overlay-title="Close Window" { close-window; }
  Super+V repeat=false hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
  Super+Space repeat=false hotkey-overlay-title="Focus Floating" { switch-focus-between-floating-and-tiling; }

  Super+Alt+C { center-column; }

  // Tabs
  Super+Alt+T { toggle-column-tabbed-display; }
  Super+G { toggle-column-tabbed-display; }

  // Window size control
  Super+T { switch-preset-column-width; }
  Super+Shift+T { switch-preset-window-height; }

  Super+F { fullscreen-window; }
  Super+Alt+F { maximize-column; }
  Super+Shift+F { toggle-windowed-fullscreen; }

  Super+Minus { set-column-width "-5%"; }
  Super+Equal { set-column-width "+5%"; }

  Super+Shift+Minus { set-window-height "-5%"; }
  Super+Shift+Equal { set-window-height "+5%"; }

  // Window focus
  Super+A { focus-column-left; }
  Super+D { focus-column-right; }
  Super+W { focus-window-or-workspace-up; }
  Super+S { focus-window-or-workspace-down; }

  Super+Q { focus-column-first; }
  Super+E { focus-column-last; }

  // Window movement
  Super+Shift+A { move-column-left; }
  Super+Shift+D { move-column-right; }
  Super+Shift+W { move-window-up-or-to-workspace-up; }
  Super+Shift+S { move-window-down-or-to-workspace-down; }

  Super+Alt+A { consume-or-expel-window-left; }
  Super+Alt+D { consume-or-expel-window-right; }

  Super+Shift+Q { move-column-to-first; }
  Super+Shift+E { move-column-to-last; }

  // Workspaces
  Super+1 { focus-workspace "1"; }
  Super+2 { focus-workspace "2"; }
  Super+3 { focus-workspace "3"; }
  Super+4 { focus-workspace "4"; }
  Super+5 { focus-workspace "5"; }
  Super+6 { focus-workspace "6"; }
  Super+7 { focus-workspace "7"; }
  Super+8 { focus-workspace "8"; }
  Super+9 { focus-workspace "9"; }

  Super+0 { focus-workspace "obs"; }
  Super+C { focus-workspace "msg"; }
  Super+Tab { focus-workspace "tab"; }

  Super+Shift+1 { move-window-to-workspace "1"; }
  Super+Shift+2 { move-window-to-workspace "2"; }
  Super+Shift+3 { move-window-to-workspace "3"; }
  Super+Shift+4 { move-window-to-workspace "4"; }
  Super+Shift+5 { move-window-to-workspace "5"; }
  Super+Shift+6 { move-window-to-workspace "6"; }
  Super+Shift+7 { move-window-to-workspace "7"; }
  Super+Shift+8 { move-window-to-workspace "8"; }
  Super+Shift+9 { move-window-to-workspace "9"; }

  Super+Shift+0 { move-window-to-workspace "obs"; }
  Super+Shift+C { move-window-to-workspace "msg"; }
  Super+Shift+Tab { move-window-to-workspace "tab"; }

  // Moving workspaces
  Super+Alt+W { move-workspace-up; }
  Super+Alt+S { move-workspace-down; }

  // Niri control
  Super+Alt+X repeat=false { quit skip-confirmation=true; }
  Super+Z repeat=false { toggle-overview; }
  Super+Alt+H repeat=false { show-hotkey-overlay; }

  // Waybar
  Super+Alt+B repeat=false { spawn "pkill" "-SIGUSR1" "waybar"; }

  // Monitor control
  Super+L repeat=false { spawn "loginctl" "lock-session"; }
  Super+Alt+K repeat=false { power-off-monitors; }
  Super+Alt+Shift+K repeat=false { power-on-monitors; }

  // Notifications
  Super+N repeat=false { spawn "makoctl" "dismiss" "--all"; }
  Super+Alt+N repeat=false { spawn "systemctl" "--user" "restart" "mako"; }

  // Sound
  XF86AudioMute allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/volume.sh" "mute"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn "bash" "${repo}/scripts/volume.sh" "down"; }
  XF86AudioRaiseVolume allow-when-locked=true { spawn "bash" "${repo}/scripts/volume.sh" "up"; }

  // Microphone
  XF86AudioMicMute allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/volume.sh" "micmute"; }
  F7 allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/volume.sh" "micmute"; }

  // Media
  XF86AudioPlay allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/media.sh" "toggle"; }
  XF86AudioPause allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/media.sh" "pause"; }
  XF86AudioNext allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/media.sh" "next"; }
  XF86AudioPrev allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/media.sh" "prev"; }
  XF86AudioStop allow-when-locked=true repeat=false { spawn "bash" "${repo}/scripts/media.sh" "stop"; }

  // Brightness
  XF86MonBrightnessUp allow-when-locked=true { spawn "bash" "${repo}/scripts/brightness.sh" "up"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "bash" "${repo}/scripts/brightness.sh" "down"; }

  // Print screen
  Print repeat=false { spawn "flameshot" "gui"; }

  // Language
  Super+Backspace repeat=false { switch-layout "2"; }

  // Clipboard history
  Super+Y repeat=false { spawn-sh "cliphist list | fuzzel --with-nth 2 --dmenu | cliphist decode | wl-copy"; }

  // Pass picker
  Super+P { spawn "sh" "-c" "pass show -c \"$$(find ~/.password-store -name '*.gpg' | sed -e \"s|^$$HOME/.password-store/||\" -e 's|\\.gpg$$||' | fuzzel --dmenu)\""; }
  Super+O { spawn "sh" "-c" "pass otp -c \"$$(find ~/.password-store -name '*.gpg' | sed -e \"s|^$$HOME/.password-store/||\" -e 's|\\.gpg$$||' | fuzzel --dmenu)\""; }

  // Calculator
  Super+grave repeat=false cooldown-ms=1500 { spawn "footclient" "--app-id" "footpopup" "-e" "numbat"; }

  // Scroll binds
  Super+WheelScrollDown cooldown-ms=150         { focus-workspace-down; }
  Super+WheelScrollUp   cooldown-ms=150         { focus-workspace-up; }

  Super+WheelScrollRight                        { focus-column-right; }
  Super+WheelScrollLeft                         { focus-column-left; }
  Super+Shift+WheelScrollDown cooldown-ms=150   { focus-column-right; }
  Super+Shift+WheelScrollUp  cooldown-ms=150    { focus-column-left; }

  // Touchpad binds
  Super+TouchpadScrollDown cooldown-ms=150      { focus-workspace-down; }
  Super+TouchpadScrollUp   cooldown-ms=150      { focus-workspace-up; }

  Super+TouchpadScrollRight                     { focus-column-right; }
  Super+TouchpadScrollLeft                      { focus-column-left; }
}

switch-events {
  // TODO: lid-close / lid-open
}

gestures {
  hot-corners {
    top-left
  }
}

layout {
  background-color "#${bg_dim_more}"

  gaps @scale(16) // SCALE: 16

  struts {
    left @scale(16) // SCALE: 16
    right @scale(16) // SCALE: 16
    top 0
    bottom 0
  }

  center-focused-column "never"
  always-center-single-column

  preset-column-widths {
    proportion 0.5
    proportion 1.0
  }

  default-column-width { proportion 0.5; }

  preset-window-heights {
    proportion 1.0
    proportion 0.5
  }

  border {
    off
  }

  focus-ring {
    width @scale(2) // SCALE: 2
    active-color "#${blue}"
    inactive-color "#${fg_half_dim}"
    urgent-color "#${red}"
  }

  shadow {
    on

    spread @scale(8) // SCALE: 8
    softness 64
  }

  tab-indicator {
    on
    hide-when-single-tab
    place-within-column

    gap @scale(8) // SCALE: 8
    width @scale(8) // SCALE: 8
    length total-proportion=0.35
    position "left"
    gaps-between-tabs @scale(12) // SCALE: 12
    corner-radius @scale(8) // SCALE: 8
    active-color "#${purple}"

    inactive-color "#${fg_half_dim}90"
    urgent-color "#E0778D" // reder (brighter red)
  }

  insert-hint {
    on
    color "#${blue}90"
  }
}

// Workspaces
workspace "1" {}
workspace "2" {}
workspace "3" {}
workspace "4" {}
workspace "5" {}
workspace "6" {}
workspace "7" {}
workspace "8" {}

workspace "9" {}
workspace "obs" {}
workspace "msg" {}
workspace "tab" {}

// Window rules
window-rule {
  default-column-width { proportion 1.0; }
  open-focused true
  tiled-state true

  geometry-corner-radius @scale(12) // SCALE: 12
  clip-to-geometry true
}

// Fake focus ring for urgent windows
// SEE: https://github.com/niri-wm/niri/discussions/2279
window-rule {
  match is-urgent=true

  shadow {
    softness 0
    offset x=0 y=0
    spread @scale(2) // SCALE: 2
    color "#${red}"
  }
}

// Foot terminal
window-rule {
  match app-id="^foot(client)?$$"
  default-column-width { proportion 0.5; }
}

// Foot popups
window-rule {
  match app-id="^footpopup$$"
  open-floating true
  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.5; }
}

// Instant messaging
window-rule {
  match app-id="^org.telegram.desktop|Element|discord$$"
  exclude title="^Media viewer$$"
  open-on-workspace "msg"
  open-focused false
  default-column-width { proportion 0.5; }
}

// OBS Studio
window-rule {
  match app-id="^com.obsproject.Studio$$"
  open-on-workspace "obs"
}

// Steam
window-rule {
  match app-id="^steam$$"
  open-on-workspace "tab"
}

// Pavucontrol
window-rule {
  match app-id=r#"^org\.pulseaudio\.pavucontrol$$"#
  open-floating true
  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.5; }
}

// Block out special terminal windows from screencast
window-rule {
  match app-id="^footprivate$$"
  block-out-from "screencast"

  focus-ring {
    active-color "#${purple}"
  }
}

layer-rule {
  match namespace="^notifications$$"

  block-out-from "screencast"
  baba-is-float true
}

layer-rule {
  match namespace="^launcher$$"

  baba-is-float true
  shadow {
    on
  }

  background-effect {
    blur true
    xray false
  }

  // NOTE: workaround for square shadow
  geometry-corner-radius @scale(12) // SCALE: 12
}

// Other options
prefer-no-csd

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

// Recent windows
recent-windows {
  debounce-ms 0
  open-delay-ms 0

  highlight {
    active-color "#${blue}"
    urgent-color "#${red}"
    padding @scale(32) // SCALE: 32
    corner-radius @scale(12) // SCALE: 12
  }

  previews {
    max-height 9999
    max-scale 0.66
  }

  binds {
    Super+BracketLeft  { previous-window; }
    Super+BracketRight { next-window; }
  }
}
